#!/usr/bin/env bash
export workspace_root="/workspace"
export logs_dir="/workspace/logs"
export git_repo_name="harvester-auto"
export git_repo_branch="master"
export git_repo_url="https://github.com/futuretea/harvester-auto"
export iso_output_dir="/var/www/html"
export default_iso_download_head_url="https://releases.rancher.com/harvester"
export default_iso_download_release_url="https://releases.rancher.com/harvester"
export default_dns_nameserver="8.8.4.4"
export default_image_repo="reg.mydomain.com/rancher"
export default_node_number=4
export default_create_node_number=1
export default_cpu_count=16
export default_memory_size=32768
export default_disk_size=200G
# should keep the same with the default password in settings.yml.j2
export default_node_password="p@ssword"
export nfs_root_dir="/mnt/nfs"
export rke2_image_repo=""
export default_upgrade_from_version="v1.1.1"
export default_upgrade_to_version="v1.1.2-head"
export default_tf_init_ubuntu_image_url="http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64.img"
export default_tf_init_ubuntu_mirror_url="http://us.archive.ubuntu.com/ubuntu/"
