slack:
  bot_token: <bot_token>
  app_token: <app_token>
  envs:
    slack_webhook_url: <slack_webhook_url>
  users:
  	- name: <slack username 1>
      namespace: 1
      mode: rw
  	- name: <slack username 2>
      namespace: 1
      mode: ro
  	- name: <slack username 3>
      namespace: 2
      mode: rw
