[Unit]	
Description=Harvester Auto Service
After=network.target	

[Service]	
Type=simple	
User=root	
Restart=on-failure	
RestartSec=5s	
ExecStart=/root/harvester-auto/harvester-auto
WorkingDirectory=/root/harvester-auto

[Install]	
WantedBy=multi-user.target	

